<h1>Projects</h1>
 
<%= flash[:alert] %>

<%= link_to 'New Project', new_project_path %>
<br>
<br>
 
<% @projects.each do |project| %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
          <%= project.name %>
          
          <% if can? :update, project %>
          <button type="button" class="btn btn-default navbar-btn btn pull-right"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>             </button>
     	    <% end %>
          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= project.description %>
      </div>
    </div>
  </div>






<% end %>