<h1>Projects</h1>
 
<%= flash[:alert] %>

<%= link_to 'New Project', new_project_path %>
<br>
<br>
 
<% @projects.each do |project| %>

    <div style="border: 1px solid black; background-color: #add8e6;">
 
      <h3><%= project.name %></h3>
      <%= time_ago_in_words(project.created_at) %> ago by <%= project.user.email %>
                <br>
      
      <% if can? :update, project %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <% end %>
      
      <% if can? :update, project %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
     	<% end %>
 
      <% if project.tickets.any? %>
              
                <h4>Tickets</h4>
                
      <%= render project.tickets %>

              <% end %>
 
              <hr>
 
              <p>Add Ticket</p>
 
      <%= form_for([project, project.tickets.build]) do |f| %>
              <%= f.text_area :name %>
                <%= submit_tag "Add" %>
              <% end %>
    </div>
 
    <br>
    <br>
 
<% end %>